@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

$black: hsl(0, 0%, 4%) !default;
$white: hsl(0, 0%, 100%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$grey-lightest: hsl(0, 0%, 93%) !default;
$purple: hsl(271, 100%, 71%) !default;

$background: $white;

/*===== Font and typography =====*/
$body-font: 'Ubuntu', sans-serif !default;

$normal-font-size: 1rem !default;
$smaller-font-size: 0.813rem !default;
